<%= form_for(@wine) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Wine's name..." %>
    <%= f.label :vintage, "Vintage", class: "wine-attribute" %>
    <%= select_year(Date.today, start_year: Time.now.year,
    		end_year: Time.now.year - 60, field_name: 'vintage',
    										prefix: :wine, prompt: "Vintage...") %>
    <%= f.text_field :grapes, placeholder: "Grapes..." %>
    <%= f.number_field :alcohol, placeholder: "Alcohol..." %>
    <%= f.text_field :producer, placeholder: "Producer..." %>
    <%= f.label :country_id, "Country", class: "wine-attribute" %>
    <%= options_from_collection_for_select(Country.all, :id, :name) %>
    <%#= f.label :region_id, "Region", class: "wine-attribute" %>
    <%#= options_from_collection_for_select(Region.all, :id, :name) %>
    <%= collection_select(:wine, :country_id, Country.all, :id, :name) %>
    <%= f.number_field :temperature, placeholder: "Temperature..." %>
    <%= f.number_field :price, placeholder: "Price..." %>

    <p class="wine-section">appearance</p>
    <%= f.label :appearance_clarity_id, "Clarity", class: "wine-attribute" %>
    <%= collection_select(:wine, :appearance_clarity_id, AppearanceClarity.all, :id, :name) %>
    <%= f.label :appearance_intensity_id, "Intensity", class: "wine-attribute" %>
    <%= collection_select(:wine, :appearance_intensity_id, AppearanceIntensity.all, :id, :name) %>
    <%= f.label :appearance_colour_id, "Colour", class: "wine-attribute" %>
    <%= collection_select(:wine, :appearance_colour_id, AppearanceColour.all, :id, :name) %>
    <%= f.label :appearance_colour_detail_id, "Colour detail", class: "wine-attribute" %>
    <%= collection_select(:wine, :appearance_colour_detail_id, AppearanceColourDetail.all, :id, :name) %>
    <%= f.label :appearance_observation, "Observations", class: "wine-attribute" %>
    <%= f.text_area :appearance_observation, placeholder: "e.g. legs/tears, deposit, petillance, bubbles" %>

    <p class="wine-section">nose</p>
    <%= f.label :nose_condition_id, "Condition", class: "wine-attribute" %>
    <%= collection_select(:wine, :nose_condition_id, NoseCondition.all, :id, :name) %>
    <%= f.label :nose_intensity_id, "Intensity", class: "wine-attribute" %>
    <%= collection_select(:wine, :nose_intensity_id, NoseIntensity.all, :id, :name) %>
    <%= f.label :nose_aroma, "Aroma", class: "wine-attribute" %>
    <%= f.text_area :nose_aroma, placeholder: "e.g. fruits, flowers, spices, vegetables, oak aromas, other" %>
    <%= f.label :nose_development_id, "Development", class: "wine-attribute" %>
    <%= collection_select(:wine, :nose_development_id, NoseDevelopment.all, :id, :name) %>
    
    <p class="wine-section">palate</p>
    <%= f.label :palate_sweetness_id, "Sweetness", class: "wine-attribute" %>
    <%= collection_select(:wine, :palate_sweetness_id, PalateSweetness.all, :id, :name) %>
    <%= f.label :palate_acidity_id, "Acidity", class: "wine-attribute" %>
    <%= collection_select(:wine, :palate_acidity_id, PalateAcidity.all, :id, :name) %>
    <%= f.label :palate_tannin_id, "Tannin level", class: "wine-attribute" %>
    <%= collection_select(:wine, :palate_tannin_id, PalateTannin.all, :id, :name) %>
    <%= f.label :palate_tannin_nature, "Tannin nature", class: "wine-attribute" %>
    <%= f.text_area :palate_tannin_nature, placeholder: "e.g. ripe/soft vs unripe/green/stalky, coarse vs fine-grained" %>
    <%= f.label :palate_alcohol_id, "Alcohol", class: "wine-attribute" %>
    <%= collection_select(:wine, :palate_alcohol_id, PalateAlcohol.all, :id, :name) %>
    <%= f.label :palate_body_id, "Body", class: "wine-attribute" %>
    <%= collection_select(:wine, :palate_body_id, PalateBody.all, :id, :name) %>
    <%= f.label :palate_flavintensity_id, "Flavour intensity", class: "wine-attribute" %>
    <%= collection_select(:wine, :palate_flavintensity_id, PalateFlavintensity.all, :id, :name) %>
    <%= f.label :palate_flavchar, "Characteristics", class: "wine-attribute" %>
    <%= f.text_area :palate_flavchar, placeholder: "e.g. fruits, flowers, spices, vegetables, oak flavours, other" %>
    <%= f.label :palate_observation, "Observations", class: "wine-attribute" %>
    <%= f.text_area :palate_observation, placeholder: "e.g. texture, balance | sparkling wines (mousse): delicate – creamy – aggressive" %>
    <%= f.label :appearance_clarity_id, "Clarity", class: "wine-attribute" %>
    <%= collection_select(:wine, :palate_finish_id, PalateFinish.all, :id, :name) %>

    <p class="wine-section">conclusions</p>
    <%= f.label :conclusion_quality_id, "Quality", class: "wine-attribute" %>
    <%= collection_select(:wine, :conclusion_quality_id, ConclusionQuality.all, :id, :name) %>
    <%= f.label :conclusion_quality_reason, "Reasons for assessment", class: "wine-attribute" %>
    <%= f.text_area :conclusion_quality_reason, placeholder: "e.g. structure, balance, concentration, complexity, length, typicity" %>
    <%= f.label :conclusion_readiness_id, "Level of readiness for drinking / potential for ageing", class: "wine-attribute" %>
    <%= collection_select(:wine, :conclusion_readiness_id, ConclusionReadiness.all, :id, :name) %>
    <%= f.label :conclusion_readiness_reason, "Reasons for assessment", class: "wine-attribute" %>
    <%= f.text_area :conclusion_readiness_reason, placeholder: "e.g. structure, balance, concentration, complexity, length, typicity" %>
    <%= f.label :conclusion_details, "Origins / variety / theme", class: "wine-attribute" %>
    <%= f.text_area :conclusion_details, placeholder: "e.g. location (country or region), grape variety or varieties, production methods, climatic influences" %> 
    <%= f.label :conclusion_price_id, "Price category", class: "wine-attribute" %>
    <%= collection_select(:wine, :conclusion_price_id, ConclusionPrice.all, :id, :name) %>
  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>